@model IEnumerable<BusRouteViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
        <div class="table table-striped m-5">
     <table>
            <thead>
                <th>Bus No.</th>
                <th>Bus Name </th>
                <th>Route details</th>
            </th>
            <tbody>
                    @foreach(var item in Model)
                    {
                          <tr>
                         <td>@item.BusNo</td>
                         <td>@item.BusName</td>
                         <td><a asp-controller="Home"asp-action="RouteDetailView">@item.RouteName</a></td>
                     </tr>
                }
                </tbody>
        </table>
        </div>
        </div>