@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;  height:350px; width:300px; margin:20px;">
            <img class="card-img-top" src="~/images/BusRoute.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Route Details</h5>

                <a class="btn btn-info" asp-action="Index" asp-controller="Route">Route Details</a>
            </div>
        </div>

        <div class="card" style="width: 18rem; height:350px; width:300px; margin:20px">
            <img class="card-img-top" src="~/images/Bus.jpg" alt="Card image cap" style="height:240px;">
            <div class="card-body">
                <h5 class="card-title">Bus Details</h5>

                <a class="btn btn-info" asp-action="Index" asp-controller="busdetails">Bus Details</a>
            </div>
        </div>
    </div>
</div>