
@{
    ViewData["Title"] = "Home Page";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">DETAILS</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">API DETAILS</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <partial name="_IndexFromDB"/>
   </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div>
    <partial name="_IndexFromAPI"/>
</div>
</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>


<div><h1 style="color:#303133;">DETAILS FROM API</h1></div>

<a class="btn btn-light" asp-action="Create" asp-controller="Home">Create</a>
<button class="btn btn-light">GetAll</button>

<div>
    <partial name="_IndexFromAPI"/>
</div>



<div class="ViewDetailButton" style="margin-bottom:30px;float:right;">
    <input type="text" id="Id" placeholder="Enter the Bus Id"
           style="
                height:38px;
                border:none;
                border-bottom:1px solid #aaa;
                text-align:center;
                margin:-1px" />
    <button class="btn btn-outline-success" id="GetButton" onclick="GetReservation()">ViewDetails</button>
</div>

@*<table class="table table-striped mt-2" id="apiTable">
    <thead>
        <tr>
            <th>ID</th>
            <th>Bus No.</th>
            <th>Bus Name </th>
            <th>Route details</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>*@
<br />

<table id="apiTablesById" class="table table-striped mb-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Bus No.</th>
            <th>Bus Name </th>
            <th>Route details</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script type="text/javascript">
    ShowAllReservation();
    ejan();
    //$(document).ready(function () {
    //    ShowAllReservation();
    //    GetReservation();

    //});
    function ShowAllReservation() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "https://localhost:44392/api/busdetailsapi", true);
        xhttp.send();

        xhttp.onreadystatechange = function () {
            var tbody = document.getElementById("apiTable").querySelector("tbody");
            tbody.innerHTML = "";
            if (this.readyState == 4 && this.status == 200) {
                JSON.parse(this.responseText).forEach(function (data) {
                    tbody.innerHTML += "<tr><td>" + data.id + "</td>" +
                        "<td>" + data.busNo + "</td>" +
                        "<td>" + data.busName + "</td>" +
                        "<td>" + data.routeId + "</td></tr>";
                });
            }
        };
    }
    function GetReservation() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "https://localhost:44392/api/busdetailsapi/" + document.getElementById("Id").value, true);
        xhttp.send();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                var tbody = document.getElementById("apiTablesById").querySelector("tbody");
                tbody.innerHTML = "<tr><td>" + response.id + "</td><td>" + response.busNo + "</td><td>" + response.busName + "</td><td>" + response.routeId + "</td></tr>";
            }
        };
    }
    function ejan() {
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "https://localhost:44392/api/busdetailsapi/5", true);
        xhttp.send();

        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = JSON.parse(this.responseText);
                var formbody=document.getElementById("formedit");
                formbody.innerHTML="<label>Bus No.</label>"+" "+"<input value="+response.busNo+">"+"<label>Bus Name</label>"+" "+"<input value="+response.busName+">";

            }
        };
    }
</script>