@model Bus.Web.Models.Credentials
<div class="col-md-4 my-auto mx-auto">
<form method="post" asp-action="Login">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
  <!-- Username input -->
  <div class="form-outline mb-4">
    <label class="form-label" asp-for="UserName"></label>
    <input type="text" asp-for="UserName" id="form2Example1" class="form-control" autofocus />
    <span class="text-danger" asp-validation-for="UserName"></span>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" asp-for="Password"></label>
    <input type="password"  asp-for="Password" class="form-control" />
    <span class="text-danger" asp-validation-for="Password"></span>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
      <!-- Checkbox -->
      <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="IsRememberMe" checked />
        <label class="form-check-label" asp-for="IsRememberMe"> Remember me </label>
      </div>
    </div>

    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a href="#!">Register</a></p>
    <p>or sign up with:</p>
    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-facebook-f"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-google"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-twitter"></i>
    </button>

    <button type="button" class="btn btn-link btn-floating mx-1">
      <i class="fab fa-github"></i>
    </button>
  </div>
</form>
</div>