@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="p-5 my-4 bg-light rounded-3">
        <h1>
            Company Policies
        </h1>
        <p class="lead">
            In today's world internet is the most popular way of connecting with the people.
            At
            <a href="https://www.weforpets.com" class="text-success" target="_blank">weforpets.com</a>
            you will learn the essential web development technologies along with real life practice examples,
            so that you can create your own website to connect with the people around the world.
        </p>
        <p><a href="https://weforpets.com/privacy-notice" class="btn btn-success">Know in details</a></p>
    </div>

    <div class="accordion" id="myAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne">1. Data Policy</button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" >
                <div class="card-body">
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have
                        suffered alteration in some form, by injected humour, or randomised words which don't
                        look even slightly believable.<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a>
                    </p>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">2. Transaction Policy</button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                    <div class="card-body">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable.<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn More.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">3. Bus & Route Policy</button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" >
                    <div class="card-body">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable.<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">4. Insurance Policy</button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" >
                    <div class="card-body">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable.<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive">5. Safety Policy</button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" >
                    <div class="card-body">
                        <p>
                            There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected humour, or randomised words which don't
                            look even slightly believable.<a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    $('#myCollapsible').collapse({
        toggle: false
    })
</script>*@