@model IEnumerable<RouteDetailsViewModel>
@{
    ViewData["Title"] = "RouteDetails Page";
}
<div class="row">
        <div class="table table-striped m-5">
            <table>
                <thead>
                <th>Bus Name </th>
                <th>Bus No. </th>
                <th>Total Bus</th>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td>@i.BusName</td>
                            <td>@i.BusNo</td>

                        </tr>
                    }

                    @*<td>@TotalBus</td>*@
                </tbody>
            </table>
        </div>
        </div>